$title-dark-color: #272d4e;
$violet-color: #7854f7;

*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

// .container {
//   width: 1920px;
//   margin: 0 auto;
// }

.hero {
  background: url(../images/hero-bg.png) no-repeat,
    linear-gradient(
      180deg,
      #e5efff 0%,
      rgba(229, 239, 255, 0.262661) 83.7%,
      rgba(229, 239, 255, 0) 100%
    );
  &-content {
    display: flex;
  }
  &-text {
    width: 55%;
    margin-left: 220px;
    p {
      margin-bottom: 30px;
      width: 720px;
      color: #94A2B3;
      line-height: 25px;
    }
  }
  &-title {
    font-weight: 700;
    font-size: 4.5em;
    line-height: 95px;
    color: $title-dark-color;
    margin-bottom: 30px;
  }
  &-action {
    a {
      color: #299EF3;
      text-decoration: none;
    }
  }
  &-button {
    border: none;
    width: 267px;
    height: 72px;
    background-color: $violet-color;
    color: #fff;
    border-radius: 60px;
    font-size: 1em;
  }
}

.header {
  &-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 55px 0;
    margin-bottom: 95px;
    width: 100%;
  }
  &-right {
    flex: 1;
    text-align: right;
  }
}

.header-nav {
  ul {
    display: block;
    float: left;
    li {
      display: inline-block;
      padding-left: 38px;
      a {
        font-weight: 500;
        text-decoration: none;
        color: $title-dark-color;
        font-size: 1em;
      }
    }
  }
}

.header-button {
  border: none;
  width: 120px;
  height: 47px;
  background: #7854f7;
  color: #fff;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  margin-left: 38px;
}
